@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
:root {
  --s-gutter: 1rem;
  --s-container-max-width: 1080px;
}

.s-row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(-1 * var(--s-gutter));
}
.s-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-inline: var(--s-gutter);
}
.s-row .s-col {
  flex: 1 0 0%;
}
.s-row .s-col-1 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 8.3333%;
}
.s-row .s-col-2 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 16.6667%;
}
.s-row .s-col-3 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 25%;
}
.s-row .s-col-4 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 33.3333%;
}
.s-row .s-col-5 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 41.6667%;
}
.s-row .s-col-6 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 50%;
}
.s-row .s-col-7 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 58.3333%;
}
.s-row .s-col-8 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 66.6667%;
}
.s-row .s-col-9 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 75%;
}
.s-row .s-col-10 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 83.3333%;
}
.s-row .s-col-11 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 91.6667%;
}
.s-row .s-col-12 {
  flex: 0 0 auto;
  padding-inline: var(--s-gutter);
  width: 100%;
}
@media (min-width: 479px) {
  .s-row .s-col-sm-1 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 8.3333%;
  }
  .s-row .s-col-sm-2 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 16.6667%;
  }
  .s-row .s-col-sm-3 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 25%;
  }
  .s-row .s-col-sm-4 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 33.3333%;
  }
  .s-row .s-col-sm-5 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 41.6667%;
  }
  .s-row .s-col-sm-6 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 50%;
  }
  .s-row .s-col-sm-7 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 58.3333%;
  }
  .s-row .s-col-sm-8 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 66.6667%;
  }
  .s-row .s-col-sm-9 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 75%;
  }
  .s-row .s-col-sm-10 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 83.3333%;
  }
  .s-row .s-col-sm-11 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 91.6667%;
  }
  .s-row .s-col-sm-12 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 100%;
  }
}
@media (min-width: 768px) {
  .s-row .s-col-md-1 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 8.3333%;
  }
  .s-row .s-col-md-2 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 16.6667%;
  }
  .s-row .s-col-md-3 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 25%;
  }
  .s-row .s-col-md-4 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 33.3333%;
  }
  .s-row .s-col-md-5 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 41.6667%;
  }
  .s-row .s-col-md-6 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 50%;
  }
  .s-row .s-col-md-7 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 58.3333%;
  }
  .s-row .s-col-md-8 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 66.6667%;
  }
  .s-row .s-col-md-9 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 75%;
  }
  .s-row .s-col-md-10 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 83.3333%;
  }
  .s-row .s-col-md-11 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 91.6667%;
  }
  .s-row .s-col-md-12 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 100%;
  }
}
@media (min-width: 980px) {
  .s-row .s-col-lg-1 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 8.3333%;
  }
  .s-row .s-col-lg-2 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 16.6667%;
  }
  .s-row .s-col-lg-3 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 25%;
  }
  .s-row .s-col-lg-4 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 33.3333%;
  }
  .s-row .s-col-lg-5 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 41.6667%;
  }
  .s-row .s-col-lg-6 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 50%;
  }
  .s-row .s-col-lg-7 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 58.3333%;
  }
  .s-row .s-col-lg-8 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 66.6667%;
  }
  .s-row .s-col-lg-9 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 75%;
  }
  .s-row .s-col-lg-10 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 83.3333%;
  }
  .s-row .s-col-lg-11 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 91.6667%;
  }
  .s-row .s-col-lg-12 {
    flex: 0 0 auto;
    padding-inline: var(--s-gutter);
    width: 100%;
  }
}

.s-container,
.s-container-fluid {
  margin-inline: auto;
  padding-inline: var(--s-gutter);
}

.s-container {
  max-width: var(--s-container-max-width);
}

.m-0-auto {
  margin: auto !important;
}

.m-0-0 {
  margin: 0 !important;
}

.m-0-1 {
  margin: 0.25rem !important;
}

.m-0-2 {
  margin: 0.5rem !important;
}

.m-0-3 {
  margin: 1rem !important;
}

.m-0-4 {
  margin: 1.5rem !important;
}

.m-0-5 {
  margin: 3rem !important;
}

.mx-0-auto {
  margin-inline: auto !important;
}

.mx-0-0 {
  margin-inline: 0 !important;
}

.mx-0-1 {
  margin-inline: 0.25rem !important;
}

.mx-0-2 {
  margin-inline: 0.5rem !important;
}

.mx-0-3 {
  margin-inline: 1rem !important;
}

.mx-0-4 {
  margin-inline: 1.5rem !important;
}

.mx-0-5 {
  margin-inline: 3rem !important;
}

.my-0-auto {
  margin-block: auto !important;
}

.my-0-0 {
  margin-block: 0 !important;
}

.my-0-1 {
  margin-block: 0.25rem !important;
}

.my-0-2 {
  margin-block: 0.5rem !important;
}

.my-0-3 {
  margin-block: 1rem !important;
}

.my-0-4 {
  margin-block: 1.5rem !important;
}

.my-0-5 {
  margin-block: 3rem !important;
}

.mt-0-auto {
  -webkit-margin-before: auto !important;
          margin-block-start: auto !important;
}

.mt-0-0 {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
}

.mt-0-1 {
  -webkit-margin-before: 0.25rem !important;
          margin-block-start: 0.25rem !important;
}

.mt-0-2 {
  -webkit-margin-before: 0.5rem !important;
          margin-block-start: 0.5rem !important;
}

.mt-0-3 {
  -webkit-margin-before: 1rem !important;
          margin-block-start: 1rem !important;
}

.mt-0-4 {
  -webkit-margin-before: 1.5rem !important;
          margin-block-start: 1.5rem !important;
}

.mt-0-5 {
  -webkit-margin-before: 3rem !important;
          margin-block-start: 3rem !important;
}

.mb-0-auto {
  -webkit-margin-after: auto !important;
          margin-block-end: auto !important;
}

.mb-0-0 {
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
}

.mb-0-1 {
  -webkit-margin-after: 0.25rem !important;
          margin-block-end: 0.25rem !important;
}

.mb-0-2 {
  -webkit-margin-after: 0.5rem !important;
          margin-block-end: 0.5rem !important;
}

.mb-0-3 {
  -webkit-margin-after: 1rem !important;
          margin-block-end: 1rem !important;
}

.mb-0-4 {
  -webkit-margin-after: 1.5rem !important;
          margin-block-end: 1.5rem !important;
}

.mb-0-5 {
  -webkit-margin-after: 3rem !important;
          margin-block-end: 3rem !important;
}

.ml-0-auto {
  -webkit-margin-start: auto !important;
          margin-inline-start: auto !important;
}

.ml-0-0 {
  -webkit-margin-start: 0 !important;
          margin-inline-start: 0 !important;
}

.ml-0-1 {
  -webkit-margin-start: 0.25rem !important;
          margin-inline-start: 0.25rem !important;
}

.ml-0-2 {
  -webkit-margin-start: 0.5rem !important;
          margin-inline-start: 0.5rem !important;
}

.ml-0-3 {
  -webkit-margin-start: 1rem !important;
          margin-inline-start: 1rem !important;
}

.ml-0-4 {
  -webkit-margin-start: 1.5rem !important;
          margin-inline-start: 1.5rem !important;
}

.ml-0-5 {
  -webkit-margin-start: 3rem !important;
          margin-inline-start: 3rem !important;
}

.mr-0-auto {
  -webkit-margin-end: auto !important;
          margin-inline-end: auto !important;
}

.mr-0-0 {
  -webkit-margin-end: 0 !important;
          margin-inline-end: 0 !important;
}

.mr-0-1 {
  -webkit-margin-end: 0.25rem !important;
          margin-inline-end: 0.25rem !important;
}

.mr-0-2 {
  -webkit-margin-end: 0.5rem !important;
          margin-inline-end: 0.5rem !important;
}

.mr-0-3 {
  -webkit-margin-end: 1rem !important;
          margin-inline-end: 1rem !important;
}

.mr-0-4 {
  -webkit-margin-end: 1.5rem !important;
          margin-inline-end: 1.5rem !important;
}

.mr-0-5 {
  -webkit-margin-end: 3rem !important;
          margin-inline-end: 3rem !important;
}

@media (min-width: 479px) {
  .m-sm-auto {
    margin: auto !important;
  }
  .m-sm-0 {
    margin: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mx-sm-auto {
    margin-inline: auto !important;
  }
  .mx-sm-0 {
    margin-inline: 0 !important;
  }
  .mx-sm-1 {
    margin-inline: 0.25rem !important;
  }
  .mx-sm-2 {
    margin-inline: 0.5rem !important;
  }
  .mx-sm-3 {
    margin-inline: 1rem !important;
  }
  .mx-sm-4 {
    margin-inline: 1.5rem !important;
  }
  .mx-sm-5 {
    margin-inline: 3rem !important;
  }
  .my-sm-auto {
    margin-block: auto !important;
  }
  .my-sm-0 {
    margin-block: 0 !important;
  }
  .my-sm-1 {
    margin-block: 0.25rem !important;
  }
  .my-sm-2 {
    margin-block: 0.5rem !important;
  }
  .my-sm-3 {
    margin-block: 1rem !important;
  }
  .my-sm-4 {
    margin-block: 1.5rem !important;
  }
  .my-sm-5 {
    margin-block: 3rem !important;
  }
  .mt-sm-auto {
    -webkit-margin-before: auto !important;
            margin-block-start: auto !important;
  }
  .mt-sm-0 {
    -webkit-margin-before: 0 !important;
            margin-block-start: 0 !important;
  }
  .mt-sm-1 {
    -webkit-margin-before: 0.25rem !important;
            margin-block-start: 0.25rem !important;
  }
  .mt-sm-2 {
    -webkit-margin-before: 0.5rem !important;
            margin-block-start: 0.5rem !important;
  }
  .mt-sm-3 {
    -webkit-margin-before: 1rem !important;
            margin-block-start: 1rem !important;
  }
  .mt-sm-4 {
    -webkit-margin-before: 1.5rem !important;
            margin-block-start: 1.5rem !important;
  }
  .mt-sm-5 {
    -webkit-margin-before: 3rem !important;
            margin-block-start: 3rem !important;
  }
  .mb-sm-auto {
    -webkit-margin-after: auto !important;
            margin-block-end: auto !important;
  }
  .mb-sm-0 {
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
  }
  .mb-sm-1 {
    -webkit-margin-after: 0.25rem !important;
            margin-block-end: 0.25rem !important;
  }
  .mb-sm-2 {
    -webkit-margin-after: 0.5rem !important;
            margin-block-end: 0.5rem !important;
  }
  .mb-sm-3 {
    -webkit-margin-after: 1rem !important;
            margin-block-end: 1rem !important;
  }
  .mb-sm-4 {
    -webkit-margin-after: 1.5rem !important;
            margin-block-end: 1.5rem !important;
  }
  .mb-sm-5 {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
  .ml-sm-auto {
    -webkit-margin-start: auto !important;
            margin-inline-start: auto !important;
  }
  .ml-sm-0 {
    -webkit-margin-start: 0 !important;
            margin-inline-start: 0 !important;
  }
  .ml-sm-1 {
    -webkit-margin-start: 0.25rem !important;
            margin-inline-start: 0.25rem !important;
  }
  .ml-sm-2 {
    -webkit-margin-start: 0.5rem !important;
            margin-inline-start: 0.5rem !important;
  }
  .ml-sm-3 {
    -webkit-margin-start: 1rem !important;
            margin-inline-start: 1rem !important;
  }
  .ml-sm-4 {
    -webkit-margin-start: 1.5rem !important;
            margin-inline-start: 1.5rem !important;
  }
  .ml-sm-5 {
    -webkit-margin-start: 3rem !important;
            margin-inline-start: 3rem !important;
  }
  .mr-sm-auto {
    -webkit-margin-end: auto !important;
            margin-inline-end: auto !important;
  }
  .mr-sm-0 {
    -webkit-margin-end: 0 !important;
            margin-inline-end: 0 !important;
  }
  .mr-sm-1 {
    -webkit-margin-end: 0.25rem !important;
            margin-inline-end: 0.25rem !important;
  }
  .mr-sm-2 {
    -webkit-margin-end: 0.5rem !important;
            margin-inline-end: 0.5rem !important;
  }
  .mr-sm-3 {
    -webkit-margin-end: 1rem !important;
            margin-inline-end: 1rem !important;
  }
  .mr-sm-4 {
    -webkit-margin-end: 1.5rem !important;
            margin-inline-end: 1.5rem !important;
  }
  .mr-sm-5 {
    -webkit-margin-end: 3rem !important;
            margin-inline-end: 3rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-auto {
    margin: auto !important;
  }
  .m-md-0 {
    margin: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mx-md-auto {
    margin-inline: auto !important;
  }
  .mx-md-0 {
    margin-inline: 0 !important;
  }
  .mx-md-1 {
    margin-inline: 0.25rem !important;
  }
  .mx-md-2 {
    margin-inline: 0.5rem !important;
  }
  .mx-md-3 {
    margin-inline: 1rem !important;
  }
  .mx-md-4 {
    margin-inline: 1.5rem !important;
  }
  .mx-md-5 {
    margin-inline: 3rem !important;
  }
  .my-md-auto {
    margin-block: auto !important;
  }
  .my-md-0 {
    margin-block: 0 !important;
  }
  .my-md-1 {
    margin-block: 0.25rem !important;
  }
  .my-md-2 {
    margin-block: 0.5rem !important;
  }
  .my-md-3 {
    margin-block: 1rem !important;
  }
  .my-md-4 {
    margin-block: 1.5rem !important;
  }
  .my-md-5 {
    margin-block: 3rem !important;
  }
  .mt-md-auto {
    -webkit-margin-before: auto !important;
            margin-block-start: auto !important;
  }
  .mt-md-0 {
    -webkit-margin-before: 0 !important;
            margin-block-start: 0 !important;
  }
  .mt-md-1 {
    -webkit-margin-before: 0.25rem !important;
            margin-block-start: 0.25rem !important;
  }
  .mt-md-2 {
    -webkit-margin-before: 0.5rem !important;
            margin-block-start: 0.5rem !important;
  }
  .mt-md-3 {
    -webkit-margin-before: 1rem !important;
            margin-block-start: 1rem !important;
  }
  .mt-md-4 {
    -webkit-margin-before: 1.5rem !important;
            margin-block-start: 1.5rem !important;
  }
  .mt-md-5 {
    -webkit-margin-before: 3rem !important;
            margin-block-start: 3rem !important;
  }
  .mb-md-auto {
    -webkit-margin-after: auto !important;
            margin-block-end: auto !important;
  }
  .mb-md-0 {
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
  }
  .mb-md-1 {
    -webkit-margin-after: 0.25rem !important;
            margin-block-end: 0.25rem !important;
  }
  .mb-md-2 {
    -webkit-margin-after: 0.5rem !important;
            margin-block-end: 0.5rem !important;
  }
  .mb-md-3 {
    -webkit-margin-after: 1rem !important;
            margin-block-end: 1rem !important;
  }
  .mb-md-4 {
    -webkit-margin-after: 1.5rem !important;
            margin-block-end: 1.5rem !important;
  }
  .mb-md-5 {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
  .ml-md-auto {
    -webkit-margin-start: auto !important;
            margin-inline-start: auto !important;
  }
  .ml-md-0 {
    -webkit-margin-start: 0 !important;
            margin-inline-start: 0 !important;
  }
  .ml-md-1 {
    -webkit-margin-start: 0.25rem !important;
            margin-inline-start: 0.25rem !important;
  }
  .ml-md-2 {
    -webkit-margin-start: 0.5rem !important;
            margin-inline-start: 0.5rem !important;
  }
  .ml-md-3 {
    -webkit-margin-start: 1rem !important;
            margin-inline-start: 1rem !important;
  }
  .ml-md-4 {
    -webkit-margin-start: 1.5rem !important;
            margin-inline-start: 1.5rem !important;
  }
  .ml-md-5 {
    -webkit-margin-start: 3rem !important;
            margin-inline-start: 3rem !important;
  }
  .mr-md-auto {
    -webkit-margin-end: auto !important;
            margin-inline-end: auto !important;
  }
  .mr-md-0 {
    -webkit-margin-end: 0 !important;
            margin-inline-end: 0 !important;
  }
  .mr-md-1 {
    -webkit-margin-end: 0.25rem !important;
            margin-inline-end: 0.25rem !important;
  }
  .mr-md-2 {
    -webkit-margin-end: 0.5rem !important;
            margin-inline-end: 0.5rem !important;
  }
  .mr-md-3 {
    -webkit-margin-end: 1rem !important;
            margin-inline-end: 1rem !important;
  }
  .mr-md-4 {
    -webkit-margin-end: 1.5rem !important;
            margin-inline-end: 1.5rem !important;
  }
  .mr-md-5 {
    -webkit-margin-end: 3rem !important;
            margin-inline-end: 3rem !important;
  }
}
@media (min-width: 980px) {
  .m-lg-auto {
    margin: auto !important;
  }
  .m-lg-0 {
    margin: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mx-lg-auto {
    margin-inline: auto !important;
  }
  .mx-lg-0 {
    margin-inline: 0 !important;
  }
  .mx-lg-1 {
    margin-inline: 0.25rem !important;
  }
  .mx-lg-2 {
    margin-inline: 0.5rem !important;
  }
  .mx-lg-3 {
    margin-inline: 1rem !important;
  }
  .mx-lg-4 {
    margin-inline: 1.5rem !important;
  }
  .mx-lg-5 {
    margin-inline: 3rem !important;
  }
  .my-lg-auto {
    margin-block: auto !important;
  }
  .my-lg-0 {
    margin-block: 0 !important;
  }
  .my-lg-1 {
    margin-block: 0.25rem !important;
  }
  .my-lg-2 {
    margin-block: 0.5rem !important;
  }
  .my-lg-3 {
    margin-block: 1rem !important;
  }
  .my-lg-4 {
    margin-block: 1.5rem !important;
  }
  .my-lg-5 {
    margin-block: 3rem !important;
  }
  .mt-lg-auto {
    -webkit-margin-before: auto !important;
            margin-block-start: auto !important;
  }
  .mt-lg-0 {
    -webkit-margin-before: 0 !important;
            margin-block-start: 0 !important;
  }
  .mt-lg-1 {
    -webkit-margin-before: 0.25rem !important;
            margin-block-start: 0.25rem !important;
  }
  .mt-lg-2 {
    -webkit-margin-before: 0.5rem !important;
            margin-block-start: 0.5rem !important;
  }
  .mt-lg-3 {
    -webkit-margin-before: 1rem !important;
            margin-block-start: 1rem !important;
  }
  .mt-lg-4 {
    -webkit-margin-before: 1.5rem !important;
            margin-block-start: 1.5rem !important;
  }
  .mt-lg-5 {
    -webkit-margin-before: 3rem !important;
            margin-block-start: 3rem !important;
  }
  .mb-lg-auto {
    -webkit-margin-after: auto !important;
            margin-block-end: auto !important;
  }
  .mb-lg-0 {
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
  }
  .mb-lg-1 {
    -webkit-margin-after: 0.25rem !important;
            margin-block-end: 0.25rem !important;
  }
  .mb-lg-2 {
    -webkit-margin-after: 0.5rem !important;
            margin-block-end: 0.5rem !important;
  }
  .mb-lg-3 {
    -webkit-margin-after: 1rem !important;
            margin-block-end: 1rem !important;
  }
  .mb-lg-4 {
    -webkit-margin-after: 1.5rem !important;
            margin-block-end: 1.5rem !important;
  }
  .mb-lg-5 {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
  .ml-lg-auto {
    -webkit-margin-start: auto !important;
            margin-inline-start: auto !important;
  }
  .ml-lg-0 {
    -webkit-margin-start: 0 !important;
            margin-inline-start: 0 !important;
  }
  .ml-lg-1 {
    -webkit-margin-start: 0.25rem !important;
            margin-inline-start: 0.25rem !important;
  }
  .ml-lg-2 {
    -webkit-margin-start: 0.5rem !important;
            margin-inline-start: 0.5rem !important;
  }
  .ml-lg-3 {
    -webkit-margin-start: 1rem !important;
            margin-inline-start: 1rem !important;
  }
  .ml-lg-4 {
    -webkit-margin-start: 1.5rem !important;
            margin-inline-start: 1.5rem !important;
  }
  .ml-lg-5 {
    -webkit-margin-start: 3rem !important;
            margin-inline-start: 3rem !important;
  }
  .mr-lg-auto {
    -webkit-margin-end: auto !important;
            margin-inline-end: auto !important;
  }
  .mr-lg-0 {
    -webkit-margin-end: 0 !important;
            margin-inline-end: 0 !important;
  }
  .mr-lg-1 {
    -webkit-margin-end: 0.25rem !important;
            margin-inline-end: 0.25rem !important;
  }
  .mr-lg-2 {
    -webkit-margin-end: 0.5rem !important;
            margin-inline-end: 0.5rem !important;
  }
  .mr-lg-3 {
    -webkit-margin-end: 1rem !important;
            margin-inline-end: 1rem !important;
  }
  .mr-lg-4 {
    -webkit-margin-end: 1.5rem !important;
            margin-inline-end: 1.5rem !important;
  }
  .mr-lg-5 {
    -webkit-margin-end: 3rem !important;
            margin-inline-end: 3rem !important;
  }
}
.p-0-auto {
  padding: auto !important;
}

.p-0-0 {
  padding: 0 !important;
}

.p-0-1 {
  padding: 0.25rem !important;
}

.p-0-2 {
  padding: 0.5rem !important;
}

.p-0-3 {
  padding: 1rem !important;
}

.p-0-4 {
  padding: 1.5rem !important;
}

.p-0-5 {
  padding: 3rem !important;
}

.px-0-auto {
  padding-inline: auto !important;
}

.px-0-0 {
  padding-inline: 0 !important;
}

.px-0-1 {
  padding-inline: 0.25rem !important;
}

.px-0-2 {
  padding-inline: 0.5rem !important;
}

.px-0-3 {
  padding-inline: 1rem !important;
}

.px-0-4 {
  padding-inline: 1.5rem !important;
}

.px-0-5 {
  padding-inline: 3rem !important;
}

.py-0-auto {
  padding-block: auto !important;
}

.py-0-0 {
  padding-block: 0 !important;
}

.py-0-1 {
  padding-block: 0.25rem !important;
}

.py-0-2 {
  padding-block: 0.5rem !important;
}

.py-0-3 {
  padding-block: 1rem !important;
}

.py-0-4 {
  padding-block: 1.5rem !important;
}

.py-0-5 {
  padding-block: 3rem !important;
}

.pt-0-auto {
  -webkit-padding-before: auto !important;
          padding-block-start: auto !important;
}

.pt-0-0 {
  -webkit-padding-before: 0 !important;
          padding-block-start: 0 !important;
}

.pt-0-1 {
  -webkit-padding-before: 0.25rem !important;
          padding-block-start: 0.25rem !important;
}

.pt-0-2 {
  -webkit-padding-before: 0.5rem !important;
          padding-block-start: 0.5rem !important;
}

.pt-0-3 {
  -webkit-padding-before: 1rem !important;
          padding-block-start: 1rem !important;
}

.pt-0-4 {
  -webkit-padding-before: 1.5rem !important;
          padding-block-start: 1.5rem !important;
}

.pt-0-5 {
  -webkit-padding-before: 3rem !important;
          padding-block-start: 3rem !important;
}

.pb-0-auto {
  -webkit-padding-after: auto !important;
          padding-block-end: auto !important;
}

.pb-0-0 {
  -webkit-padding-after: 0 !important;
          padding-block-end: 0 !important;
}

.pb-0-1 {
  -webkit-padding-after: 0.25rem !important;
          padding-block-end: 0.25rem !important;
}

.pb-0-2 {
  -webkit-padding-after: 0.5rem !important;
          padding-block-end: 0.5rem !important;
}

.pb-0-3 {
  -webkit-padding-after: 1rem !important;
          padding-block-end: 1rem !important;
}

.pb-0-4 {
  -webkit-padding-after: 1.5rem !important;
          padding-block-end: 1.5rem !important;
}

.pb-0-5 {
  -webkit-padding-after: 3rem !important;
          padding-block-end: 3rem !important;
}

.pl-0-auto {
  -webkit-padding-start: auto !important;
          padding-inline-start: auto !important;
}

.pl-0-0 {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
}

.pl-0-1 {
  -webkit-padding-start: 0.25rem !important;
          padding-inline-start: 0.25rem !important;
}

.pl-0-2 {
  -webkit-padding-start: 0.5rem !important;
          padding-inline-start: 0.5rem !important;
}

.pl-0-3 {
  -webkit-padding-start: 1rem !important;
          padding-inline-start: 1rem !important;
}

.pl-0-4 {
  -webkit-padding-start: 1.5rem !important;
          padding-inline-start: 1.5rem !important;
}

.pl-0-5 {
  -webkit-padding-start: 3rem !important;
          padding-inline-start: 3rem !important;
}

.pr-0-auto {
  -webkit-padding-end: auto !important;
          padding-inline-end: auto !important;
}

.pr-0-0 {
  -webkit-padding-end: 0 !important;
          padding-inline-end: 0 !important;
}

.pr-0-1 {
  -webkit-padding-end: 0.25rem !important;
          padding-inline-end: 0.25rem !important;
}

.pr-0-2 {
  -webkit-padding-end: 0.5rem !important;
          padding-inline-end: 0.5rem !important;
}

.pr-0-3 {
  -webkit-padding-end: 1rem !important;
          padding-inline-end: 1rem !important;
}

.pr-0-4 {
  -webkit-padding-end: 1.5rem !important;
          padding-inline-end: 1.5rem !important;
}

.pr-0-5 {
  -webkit-padding-end: 3rem !important;
          padding-inline-end: 3rem !important;
}

@media (min-width: 479px) {
  .p-sm-auto {
    padding: auto !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .px-sm-auto {
    padding-inline: auto !important;
  }
  .px-sm-0 {
    padding-inline: 0 !important;
  }
  .px-sm-1 {
    padding-inline: 0.25rem !important;
  }
  .px-sm-2 {
    padding-inline: 0.5rem !important;
  }
  .px-sm-3 {
    padding-inline: 1rem !important;
  }
  .px-sm-4 {
    padding-inline: 1.5rem !important;
  }
  .px-sm-5 {
    padding-inline: 3rem !important;
  }
  .py-sm-auto {
    padding-block: auto !important;
  }
  .py-sm-0 {
    padding-block: 0 !important;
  }
  .py-sm-1 {
    padding-block: 0.25rem !important;
  }
  .py-sm-2 {
    padding-block: 0.5rem !important;
  }
  .py-sm-3 {
    padding-block: 1rem !important;
  }
  .py-sm-4 {
    padding-block: 1.5rem !important;
  }
  .py-sm-5 {
    padding-block: 3rem !important;
  }
  .pt-sm-auto {
    -webkit-padding-before: auto !important;
            padding-block-start: auto !important;
  }
  .pt-sm-0 {
    -webkit-padding-before: 0 !important;
            padding-block-start: 0 !important;
  }
  .pt-sm-1 {
    -webkit-padding-before: 0.25rem !important;
            padding-block-start: 0.25rem !important;
  }
  .pt-sm-2 {
    -webkit-padding-before: 0.5rem !important;
            padding-block-start: 0.5rem !important;
  }
  .pt-sm-3 {
    -webkit-padding-before: 1rem !important;
            padding-block-start: 1rem !important;
  }
  .pt-sm-4 {
    -webkit-padding-before: 1.5rem !important;
            padding-block-start: 1.5rem !important;
  }
  .pt-sm-5 {
    -webkit-padding-before: 3rem !important;
            padding-block-start: 3rem !important;
  }
  .pb-sm-auto {
    -webkit-padding-after: auto !important;
            padding-block-end: auto !important;
  }
  .pb-sm-0 {
    -webkit-padding-after: 0 !important;
            padding-block-end: 0 !important;
  }
  .pb-sm-1 {
    -webkit-padding-after: 0.25rem !important;
            padding-block-end: 0.25rem !important;
  }
  .pb-sm-2 {
    -webkit-padding-after: 0.5rem !important;
            padding-block-end: 0.5rem !important;
  }
  .pb-sm-3 {
    -webkit-padding-after: 1rem !important;
            padding-block-end: 1rem !important;
  }
  .pb-sm-4 {
    -webkit-padding-after: 1.5rem !important;
            padding-block-end: 1.5rem !important;
  }
  .pb-sm-5 {
    -webkit-padding-after: 3rem !important;
            padding-block-end: 3rem !important;
  }
  .pl-sm-auto {
    -webkit-padding-start: auto !important;
            padding-inline-start: auto !important;
  }
  .pl-sm-0 {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  .pl-sm-1 {
    -webkit-padding-start: 0.25rem !important;
            padding-inline-start: 0.25rem !important;
  }
  .pl-sm-2 {
    -webkit-padding-start: 0.5rem !important;
            padding-inline-start: 0.5rem !important;
  }
  .pl-sm-3 {
    -webkit-padding-start: 1rem !important;
            padding-inline-start: 1rem !important;
  }
  .pl-sm-4 {
    -webkit-padding-start: 1.5rem !important;
            padding-inline-start: 1.5rem !important;
  }
  .pl-sm-5 {
    -webkit-padding-start: 3rem !important;
            padding-inline-start: 3rem !important;
  }
  .pr-sm-auto {
    -webkit-padding-end: auto !important;
            padding-inline-end: auto !important;
  }
  .pr-sm-0 {
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
  }
  .pr-sm-1 {
    -webkit-padding-end: 0.25rem !important;
            padding-inline-end: 0.25rem !important;
  }
  .pr-sm-2 {
    -webkit-padding-end: 0.5rem !important;
            padding-inline-end: 0.5rem !important;
  }
  .pr-sm-3 {
    -webkit-padding-end: 1rem !important;
            padding-inline-end: 1rem !important;
  }
  .pr-sm-4 {
    -webkit-padding-end: 1.5rem !important;
            padding-inline-end: 1.5rem !important;
  }
  .pr-sm-5 {
    -webkit-padding-end: 3rem !important;
            padding-inline-end: 3rem !important;
  }
}
@media (min-width: 768px) {
  .p-md-auto {
    padding: auto !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .px-md-auto {
    padding-inline: auto !important;
  }
  .px-md-0 {
    padding-inline: 0 !important;
  }
  .px-md-1 {
    padding-inline: 0.25rem !important;
  }
  .px-md-2 {
    padding-inline: 0.5rem !important;
  }
  .px-md-3 {
    padding-inline: 1rem !important;
  }
  .px-md-4 {
    padding-inline: 1.5rem !important;
  }
  .px-md-5 {
    padding-inline: 3rem !important;
  }
  .py-md-auto {
    padding-block: auto !important;
  }
  .py-md-0 {
    padding-block: 0 !important;
  }
  .py-md-1 {
    padding-block: 0.25rem !important;
  }
  .py-md-2 {
    padding-block: 0.5rem !important;
  }
  .py-md-3 {
    padding-block: 1rem !important;
  }
  .py-md-4 {
    padding-block: 1.5rem !important;
  }
  .py-md-5 {
    padding-block: 3rem !important;
  }
  .pt-md-auto {
    -webkit-padding-before: auto !important;
            padding-block-start: auto !important;
  }
  .pt-md-0 {
    -webkit-padding-before: 0 !important;
            padding-block-start: 0 !important;
  }
  .pt-md-1 {
    -webkit-padding-before: 0.25rem !important;
            padding-block-start: 0.25rem !important;
  }
  .pt-md-2 {
    -webkit-padding-before: 0.5rem !important;
            padding-block-start: 0.5rem !important;
  }
  .pt-md-3 {
    -webkit-padding-before: 1rem !important;
            padding-block-start: 1rem !important;
  }
  .pt-md-4 {
    -webkit-padding-before: 1.5rem !important;
            padding-block-start: 1.5rem !important;
  }
  .pt-md-5 {
    -webkit-padding-before: 3rem !important;
            padding-block-start: 3rem !important;
  }
  .pb-md-auto {
    -webkit-padding-after: auto !important;
            padding-block-end: auto !important;
  }
  .pb-md-0 {
    -webkit-padding-after: 0 !important;
            padding-block-end: 0 !important;
  }
  .pb-md-1 {
    -webkit-padding-after: 0.25rem !important;
            padding-block-end: 0.25rem !important;
  }
  .pb-md-2 {
    -webkit-padding-after: 0.5rem !important;
            padding-block-end: 0.5rem !important;
  }
  .pb-md-3 {
    -webkit-padding-after: 1rem !important;
            padding-block-end: 1rem !important;
  }
  .pb-md-4 {
    -webkit-padding-after: 1.5rem !important;
            padding-block-end: 1.5rem !important;
  }
  .pb-md-5 {
    -webkit-padding-after: 3rem !important;
            padding-block-end: 3rem !important;
  }
  .pl-md-auto {
    -webkit-padding-start: auto !important;
            padding-inline-start: auto !important;
  }
  .pl-md-0 {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  .pl-md-1 {
    -webkit-padding-start: 0.25rem !important;
            padding-inline-start: 0.25rem !important;
  }
  .pl-md-2 {
    -webkit-padding-start: 0.5rem !important;
            padding-inline-start: 0.5rem !important;
  }
  .pl-md-3 {
    -webkit-padding-start: 1rem !important;
            padding-inline-start: 1rem !important;
  }
  .pl-md-4 {
    -webkit-padding-start: 1.5rem !important;
            padding-inline-start: 1.5rem !important;
  }
  .pl-md-5 {
    -webkit-padding-start: 3rem !important;
            padding-inline-start: 3rem !important;
  }
  .pr-md-auto {
    -webkit-padding-end: auto !important;
            padding-inline-end: auto !important;
  }
  .pr-md-0 {
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
  }
  .pr-md-1 {
    -webkit-padding-end: 0.25rem !important;
            padding-inline-end: 0.25rem !important;
  }
  .pr-md-2 {
    -webkit-padding-end: 0.5rem !important;
            padding-inline-end: 0.5rem !important;
  }
  .pr-md-3 {
    -webkit-padding-end: 1rem !important;
            padding-inline-end: 1rem !important;
  }
  .pr-md-4 {
    -webkit-padding-end: 1.5rem !important;
            padding-inline-end: 1.5rem !important;
  }
  .pr-md-5 {
    -webkit-padding-end: 3rem !important;
            padding-inline-end: 3rem !important;
  }
}
@media (min-width: 980px) {
  .p-lg-auto {
    padding: auto !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .px-lg-auto {
    padding-inline: auto !important;
  }
  .px-lg-0 {
    padding-inline: 0 !important;
  }
  .px-lg-1 {
    padding-inline: 0.25rem !important;
  }
  .px-lg-2 {
    padding-inline: 0.5rem !important;
  }
  .px-lg-3 {
    padding-inline: 1rem !important;
  }
  .px-lg-4 {
    padding-inline: 1.5rem !important;
  }
  .px-lg-5 {
    padding-inline: 3rem !important;
  }
  .py-lg-auto {
    padding-block: auto !important;
  }
  .py-lg-0 {
    padding-block: 0 !important;
  }
  .py-lg-1 {
    padding-block: 0.25rem !important;
  }
  .py-lg-2 {
    padding-block: 0.5rem !important;
  }
  .py-lg-3 {
    padding-block: 1rem !important;
  }
  .py-lg-4 {
    padding-block: 1.5rem !important;
  }
  .py-lg-5 {
    padding-block: 3rem !important;
  }
  .pt-lg-auto {
    -webkit-padding-before: auto !important;
            padding-block-start: auto !important;
  }
  .pt-lg-0 {
    -webkit-padding-before: 0 !important;
            padding-block-start: 0 !important;
  }
  .pt-lg-1 {
    -webkit-padding-before: 0.25rem !important;
            padding-block-start: 0.25rem !important;
  }
  .pt-lg-2 {
    -webkit-padding-before: 0.5rem !important;
            padding-block-start: 0.5rem !important;
  }
  .pt-lg-3 {
    -webkit-padding-before: 1rem !important;
            padding-block-start: 1rem !important;
  }
  .pt-lg-4 {
    -webkit-padding-before: 1.5rem !important;
            padding-block-start: 1.5rem !important;
  }
  .pt-lg-5 {
    -webkit-padding-before: 3rem !important;
            padding-block-start: 3rem !important;
  }
  .pb-lg-auto {
    -webkit-padding-after: auto !important;
            padding-block-end: auto !important;
  }
  .pb-lg-0 {
    -webkit-padding-after: 0 !important;
            padding-block-end: 0 !important;
  }
  .pb-lg-1 {
    -webkit-padding-after: 0.25rem !important;
            padding-block-end: 0.25rem !important;
  }
  .pb-lg-2 {
    -webkit-padding-after: 0.5rem !important;
            padding-block-end: 0.5rem !important;
  }
  .pb-lg-3 {
    -webkit-padding-after: 1rem !important;
            padding-block-end: 1rem !important;
  }
  .pb-lg-4 {
    -webkit-padding-after: 1.5rem !important;
            padding-block-end: 1.5rem !important;
  }
  .pb-lg-5 {
    -webkit-padding-after: 3rem !important;
            padding-block-end: 3rem !important;
  }
  .pl-lg-auto {
    -webkit-padding-start: auto !important;
            padding-inline-start: auto !important;
  }
  .pl-lg-0 {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  .pl-lg-1 {
    -webkit-padding-start: 0.25rem !important;
            padding-inline-start: 0.25rem !important;
  }
  .pl-lg-2 {
    -webkit-padding-start: 0.5rem !important;
            padding-inline-start: 0.5rem !important;
  }
  .pl-lg-3 {
    -webkit-padding-start: 1rem !important;
            padding-inline-start: 1rem !important;
  }
  .pl-lg-4 {
    -webkit-padding-start: 1.5rem !important;
            padding-inline-start: 1.5rem !important;
  }
  .pl-lg-5 {
    -webkit-padding-start: 3rem !important;
            padding-inline-start: 3rem !important;
  }
  .pr-lg-auto {
    -webkit-padding-end: auto !important;
            padding-inline-end: auto !important;
  }
  .pr-lg-0 {
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
  }
  .pr-lg-1 {
    -webkit-padding-end: 0.25rem !important;
            padding-inline-end: 0.25rem !important;
  }
  .pr-lg-2 {
    -webkit-padding-end: 0.5rem !important;
            padding-inline-end: 0.5rem !important;
  }
  .pr-lg-3 {
    -webkit-padding-end: 1rem !important;
            padding-inline-end: 1rem !important;
  }
  .pr-lg-4 {
    -webkit-padding-end: 1.5rem !important;
            padding-inline-end: 1.5rem !important;
  }
  .pr-lg-5 {
    -webkit-padding-end: 3rem !important;
            padding-inline-end: 3rem !important;
  }
}
.d-none,
.s-d-none {
  display: none !important;
}

.d-inline,
.s-d-inline {
  display: inline !important;
}

.d-inline-block,
.s-d-inline-block {
  display: inline-block !important;
}

.d-block,
.s-d-block {
  display: block !important;
}

.d-grid,
.s-d-grid {
  display: grid !important;
}

.d-table,
.s-d-table {
  display: table !important;
}

.d-table-cell,
.s-d-table-cell {
  display: table-cell !important;
}

.d-table-row,
.s-d-table-row {
  display: table-row !important;
}

.d-flex,
.s-d-flex {
  display: flex !important;
}

.d-inline-flex,
.s-d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 479px) {
  .d-sm-none,
  .s-d-sm-none {
    display: none !important;
  }
  .d-sm-inline,
  .s-d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block,
  .s-d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block,
  .s-d-sm-block {
    display: block !important;
  }
  .d-sm-grid,
  .s-d-sm-grid {
    display: grid !important;
  }
  .d-sm-table,
  .s-d-sm-table {
    display: table !important;
  }
  .d-sm-table-cell,
  .s-d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-table-row,
  .s-d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-flex,
  .s-d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex,
  .s-d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none,
  .s-d-md-none {
    display: none !important;
  }
  .d-md-inline,
  .s-d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block,
  .s-d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block,
  .s-d-md-block {
    display: block !important;
  }
  .d-md-grid,
  .s-d-md-grid {
    display: grid !important;
  }
  .d-md-table,
  .s-d-md-table {
    display: table !important;
  }
  .d-md-table-cell,
  .s-d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-table-row,
  .s-d-md-table-row {
    display: table-row !important;
  }
  .d-md-flex,
  .s-d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex,
  .s-d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 980px) {
  .d-lg-none,
  .s-d-lg-none {
    display: none !important;
  }
  .d-lg-inline,
  .s-d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block,
  .s-d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block,
  .s-d-lg-block {
    display: block !important;
  }
  .d-lg-grid,
  .s-d-lg-grid {
    display: grid !important;
  }
  .d-lg-table,
  .s-d-lg-table {
    display: table !important;
  }
  .d-lg-table-cell,
  .s-d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-table-row,
  .s-d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-flex,
  .s-d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex,
  .s-d-lg-inline-flex {
    display: inline-flex !important;
  }
}
.flex-row,
.s-flex-row {
  flex-direction: row !important;
}

.flex-row-reverse,
.s-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column,
.s-flex-column {
  flex-direction: column !important;
}

.flex-column-reverse,
.s-flex-column-reverse {
  flex-direction: column-reverse !important;
}

@media (min-width: 479px) {
  .flex-sm-row,
  .s-flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-row-reverse,
  .s-flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column,
  .s-flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-column-reverse,
  .s-flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row,
  .s-flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-row-reverse,
  .s-flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column,
  .s-flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-column-reverse,
  .s-flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
}
@media (min-width: 980px) {
  .flex-lg-row,
  .s-flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-row-reverse,
  .s-flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column,
  .s-flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-column-reverse,
  .s-flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
}
.justify-content-start,
.s-justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end,
.s-justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center,
.s-justify-content-center {
  justify-content: center !important;
}

.justify-content-between,
.s-justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around,
.s-justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly,
.s-justify-content-evenly {
  justify-content: space-evenly !important;
}

@media (min-width: 479px) {
  .justify-content-sm-start,
  .s-justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end,
  .s-justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center,
  .s-justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between,
  .s-justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around,
  .s-justify-content-sm-around {
    justify-content: space-around !important;
  }
  .justify-content-sm-evenly,
  .s-justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }
}
@media (min-width: 768px) {
  .justify-content-md-start,
  .s-justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end,
  .s-justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center,
  .s-justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between,
  .s-justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around,
  .s-justify-content-md-around {
    justify-content: space-around !important;
  }
  .justify-content-md-evenly,
  .s-justify-content-md-evenly {
    justify-content: space-evenly !important;
  }
}
@media (min-width: 980px) {
  .justify-content-lg-start,
  .s-justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end,
  .s-justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center,
  .s-justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between,
  .s-justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around,
  .s-justify-content-lg-around {
    justify-content: space-around !important;
  }
  .justify-content-lg-evenly,
  .s-justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
}
.align-items-start,
.s-align-items-start {
  align-items: flex-start !important;
}

.align-items-end,
.s-align-items-end {
  align-items: flex-end !important;
}

.align-items-center,
.s-align-items-center {
  align-items: center !important;
}

.align-items-baseline,
.s-align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch,
.s-align-items-stretch {
  align-items: stretch !important;
}

@media (min-width: 479px) {
  .align-items-sm-start,
  .s-align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end,
  .s-align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center,
  .s-align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline,
  .s-align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch,
  .s-align-items-sm-stretch {
    align-items: stretch !important;
  }
}
@media (min-width: 768px) {
  .align-items-md-start,
  .s-align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end,
  .s-align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center,
  .s-align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline,
  .s-align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch,
  .s-align-items-md-stretch {
    align-items: stretch !important;
  }
}
@media (min-width: 980px) {
  .align-items-lg-start,
  .s-align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end,
  .s-align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center,
  .s-align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline,
  .s-align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch,
  .s-align-items-lg-stretch {
    align-items: stretch !important;
  }
}
.text-left,
.s-text-left {
  text-align: left !important;
}

.text-right,
.s-text-right {
  text-align: right !important;
}

.text-center,
.s-text-center {
  text-align: center !important;
}

.text-revert,
.s-text-revert {
  text-align: revert !important;
}

html, body {
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.s-container .s-row > * {
  background-color: rgba(61, 79, 124, 0.15);
  border: solid 1px rgba(61, 79, 124, 0.2);
}
.s-container .s-row > [class^=s-col] {
  background-color: rgba(86, 61, 124, 0.15);
  border: solid 1px rgba(86, 61, 124, 0.2);
}

.s-container-fluid.display-limits .s-row > * {
  background-color: rgba(205, 209, 105, 0.15);
  border: solid 1px rgba(205, 209, 105, 0.2);
}

.s-row > * > div:not(.s-row),
.s-row > * > div > p {
  background-color: rgba(198, 70, 254, 0.15);
  border: solid 1px rgba(198, 70, 254, 0.2);
}/*# sourceMappingURL=styles.css.map */