//* Begin copy
@import './s-variables.scss';
@import './s-grid.scss';
@import './s-utilities.scss';
//* End copy

//***************************
//* Index.html example styles
//* Google font Barlow
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

html, body {
	margin: 0;
}
body {
	font-family: 'Barlow', sans-serif;
}
*, ::after, ::before {
	box-sizing: border-box;
}

.s-container {
	.s-row {
		> * {
			background-color: rgba(61, 79, 124, 0.15);
			border: solid 1px rgba(61, 79, 124, 0.2);
		}
		> [class^="s-col"] {
			background-color: rgba(86, 61, 124, .15);
			border: solid 1px rgba(86, 61, 124, .2);
		}
	}
}

.s-container-fluid.display-limits {
	.s-row {
		> * {
			background-color: rgba(205, 209, 105, 0.15);
			border: solid 1px rgba(205, 209, 105, 0.2);
		}
	}
}

.s-row {
	> * > div:not(.s-row),
	> * > div > p {
		background-color: rgba(198, 70, 254, 0.15);
		border: solid 1px rgba(198, 70, 254, 0.2);
	}
}
