@import './s-grid.scss';
//* Google font Barlow
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

html, body {
	margin: 0;
}
body {
	font-family: 'Barlow', sans-serif;
}

.s-container {
	.s-row {
		> * {
			background-color: rgba(61, 79, 124, 0.15);
			border: solid 1px rgba(61, 79, 124, 0.2);
		}
		> [class^="s-col"] {
			background-color: rgba(86, 61, 124, .15);
			border: solid 1px rgba(86, 61, 124, .2);
		}
	}
}
